<h1>Score Board</h1>
<div id="articles">
  <table>
    <thead>
    <tr>
      <th>User Nane</th>
      <th>Email</th>
      <th>Score</th>
    </tr>
    </thead>

    <tbody>
    <% @all_scores.each do |user| %>
        <tr>
          <td><%= user.name%></td>
          <td><%= user.email%></td>
          <td><%= user.score%></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>